body{
    text-align: center;
    padding-bottom: 10px;
    background-color: yellow;
    

}

.hidden{
    display: none;
}

#number-container > p{
   
    border: 1px solid black;
    border-radius: 20%;
    width : 60px;
    height: 60px;
    font-size: 40pt;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: center;    
    
}

button{
    justify-self: center;
    border: solid;
}

#result{
    margin-left: 5px;
    font-size: x-large;
    font-weight: bolder;
    border-style: groove;
}

#Main{
    display: flex;
    justify-content: center;
}

#Game{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height:600px;
}

.numbers{
    border: 1px solid black;
    width:60px;
    height:60px;
    text-align: center;
    margin:0px;
    vertical-align: middle;
    font-size:40pt;
}

#Game-setup{
    display: flex;
    justify-content: center;
}

#Game-setup > * {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

p.selected {
    background-color: lightblue;
    }

.rightBorder{
    border-right: 4px solid black;
}

.bottomBorder{
    border-bottom: 4px solid black;
}








